@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root{
    --font: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background: #f3f3f3;
    
}
.container{
    padding: 0 2em;
    max-width: 1024px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.btn{
    padding: 10px 25px;
    border-radius: 5px;
    background: #0ac442;
    color: #fff;
    font-weight: 500;
    transition: 0.3s all;

}
.title{
    margin-top: 2em;
}

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #0ac442;
    color: #fff;
    text-align: left;
    font-weight: 500;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #dbfae4;
}
.content-table tbody tr:last-of-type{
    border-bottom: 1px solid #0ac442;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    gap: 1em;
}

.btn-edit,
.btn-delete{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.9em;
}
.btn-edit{
    color: #fff;
    background: #0ac442;
}
.btn-delete{
    color: #fff;
    background: #c01616;
    cursor: pointer;
}

.add-item{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
}
.panel{
    width: 100%;
    max-width: 425px;
    padding: 0 2rem;
    margin-top: 1em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.form-item{
    display: flex;
    flex-direction: column;
}
.form-item > *{
    align-self: flex-start;
}
.form-label{
    font-weight: 600;
    padding: 10px 0;
}
.form-input{
    width: 100%;
    max-width: 425px;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.1s, border-color 0.1s, color 0.1s;
}
.form-input:focus{
    background: #fff;
    border: 1px solid #0ac442;

}
.form-input::placeholder {
    color: #8c8b8b;
}

.form-btn {
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px 16px;
    border: none;
    background: #0ac442;
    border-radius: 5px;
    outline: none;
    color: #fff;
    width: 100%;
    max-width: 425px;
    margin-top: 1rem;
    transition: all 0.1s ease-in;
    cursor: pointer;
    margin-bottom: 1rem;
}
.form-btn:hover {
    color: #000;
    transform: scale(0.99);
  }